# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*.egg-info/
*.egg

# Virtual environment
venv/
.venv/

# Environment variables
.env
*.env

# IDE / Editor specific
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db
